 <div>
  <h3>Welcome to McAirbnb <%= "#{@user_name}" %></h3>

  </div>

  <ul>
     <% @homes.each do |home| %>
      <li><%= home %></li>
      <% end %>
  </ul>

    <form action="/bookingsform">
        <button type="submit" name="check_availability">Check Availability</button>
    </form>

