<h1>Welcome to McAirBnB <%= @user_name %></h1>
<ul>
  <% @homes.each do |home| %>
    <li><a href="/home/<%=home%>"><%= home %></a></li>
  <% end %>
</ul>
  
<form action='/listing' method='post'>
  <input type="text" name="name" placeholder='Home title - max 60 chars' maxlength='60' required/>
  <input type="text" name="description" placeholder='Home description - max 255 chars' maxlength='60' required/>
  <input type="text" name="price" placeholder='Price per night' maxlength='8' required/>
  <input type="submit" value="Submit listing" />
</form>