<h1>McAirbnb</h1>
  <form action="/login">
  <button type="submit">login</button>
  </form>

  <form action="/signupform">
  <button type="submit" name="signup">signup</button>
  </form>

  <% if @user_name %>
  <h3>Welcome to McAirbnb <%= @user_name %></h3>
  <% end %>






