<h1>McAirbnb</h1>
  <form action="/login">
  <button type="submit">login</button>
  </form>

  <form action="/signupform">
  <button type="submit">signup</button>
  </form>

  <% if @first_name %>
  Welcome to McAirbnb <%= @first_name %>
  <% end %>






