  <form action='/index'>
    <ul>
      <label for="name">Username:</label>
      <input type="text" id="name" name="first_name">
    </ul>
    <ul>
      <label for="name">Password:</label>
      <input type="text" id="name" name="password"> 
    </ul>   
    <ul> 
      <button type="submit">Login</button></tr>
    </ul>
  </form