  <form action='/signup' method='post'>
    <ul>
      <label for="user_name">Name:</label>
      <input type="text" id="name" name="user_name">
    </ul>
    <ul>
      <label for="name">Email:</label>
      <input type="text" id="email" name="email"> 
    </ul>
    <ul>
      <label for="name">Password:</label>
      <input type="text" id="password" name="password"> 
    </ul>    
    <ul> 
      <button type="submit" name="Create your account">Create your account</button></tr>
    </ul>
  </form>