  <form action='/signup' method='post'>
    <ul>
      <label for="user_name">Name:</label>
      <input type="text" id="user_name" name="user_name" require>
    </ul>
    <ul>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" require> 
    </ul>
    <ul>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" require> 
    </ul>    
    <ul> 
      <button type="submit" name="Create your account">Create your account</button></tr>
    </ul>
  </form>
